<table class="calendar">
    <caption class="calendar-banner">
        <h1>{{ months[streak.month] }}</h1>
    </caption>
    <tbody>
        <tr>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[0] ? complete : notComplete}">1</div></td>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[1] ? complete : notComplete}">2</div></td>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[2] ? complete : notComplete}">3</div></td>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[3] ? complete : notComplete}">4</div></td>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[4] ? complete : notComplete}">5</div></td>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[5] ? complete : notComplete}">6</div></td>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[6] ? complete : notComplete}">7</div></td>
        </tr>
        <tr>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[8] ? complete : notComplete}">8</div></td>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[9] ? complete : notComplete}">9</div></td>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[10] ? complete : notComplete}">10</div></td>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[11] ? complete : notComplete}">11</div></td>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[12] ? complete : notComplete}">12</div></td>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[13] ? complete : notComplete}">13</div></td>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[14] ? complete : notComplete}">14</div></td>
        </tr>
        <tr>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[15] ? complete : notComplete}">15</div></td>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[16] ? complete : notComplete}">16</div></td>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[17] ? complete : notComplete}">17</div></td>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[18] ? complete : notComplete}">18</div></td>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[19] ? complete : notComplete}">19</div></td>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[20] ? complete : notComplete}">20</div></td>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[21] ? complete : notComplete}">21</div></td>
        </tr>
        <tr>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[22] ? complete : notComplete}">22</div></td>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[23] ? complete : notComplete}">23</div></td>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[24] ? complete : notComplete}">24</div></td>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[25] ? complete : notComplete}">25</div></td>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[26] ? complete : notComplete}">26</div></td>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[27] ? complete : notComplete}">27</div></td>
            <td><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[28] ? complete : notComplete}">28</div></td>
        </tr>
        <tr>
            <td *ngFor="let day of nDaysLeft"><div class="calendar-cell" [ngStyle]="{'background-color': dayComplete[day] ? complete : notComplete}">{{ day }}</div></td>
        </tr>
    </tbody>
</table>