/* .pending {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 0.5rem 0.5rem;
   border-radius: 2rem;
}


.pending .tab {
   background-color: white;
   border-radius: 0px;
   border-bottom: 3px solid white;
   padding-bottom: 0.5rem;
   font-size: 1.5rem;
   color: black;
}
.pending .tab.active {
   color: maroon;
   border-color: maroon;
} */

.container {
   width: 45rem;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
}

.container mat-tab-group {
   width: 80%;
   margin-left: 10%;
   
}

.btn {
   margin-top: 1.5rem;
   margin-left: 1.5rem;
}