.container {
   width: 45rem;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   /* min-height: 20rem; */
}

.container mat-tab-group {
   width: 80%;
   margin-left: 10%;
}

.btn {
   margin-top: 1.5rem;
   margin-left: 1.5rem;
}

.empty-tab {
   margin-top: 10%;
   text-align: center
}