<mat-spinner class="loading-spinner" *ngIf="this.authService.isLoading$ | async"></mat-spinner>

<div class="container" *ngIf="!(this.habitService.isLoading$ | async)">
   <mat-tab-group mat-align-tabs="center" [dynamicHeight]='true'>
      <mat-tab label="Pending">
         <ng-container *ngIf="(userHabits|HabitFilter: 'PENDING').length==0 ">
            <h1 class="empty-tab">Woohoo! You've completed all your habits today.</h1>
         </ng-container>
         <ng-container *ngIf="(userHabits|HabitFilter: 'PENDING').length!=0">
            <app-habit-small
               *ngFor="let habit of (userHabits|HabitFilter: 'PENDING')"
               [habit]="habit"
               (complete)="completeHabitToday($event)"
            >
            </app-habit-small>
         </ng-container>
      </mat-tab>
      <mat-tab label="Completed"><ng-container *ngIf="(userHabits|HabitFilter: 'COMPLETED').length==0 ">
         <h1 class="empty-tab">You haven't completed any habits yet. Check out the pending tab to see what you have today</h1>
      </ng-container>
      <ng-container *ngIf="(userHabits|HabitFilter: 'COMPLETED').length!=0">
         <app-habit-small
            *ngFor="let habit of (userHabits|HabitFilter: 'COMPLETED')"
            [habit]="habit"
            (removeComplete)="removeCompleteToday($event)"
         >
         </app-habit-small>
      </ng-container>
   </mat-tab>
   </mat-tab-group>
   <a mat-fab (click)="addNewHabit()" class="btn" color="accent"><mat-icon>add</mat-icon></a>
</div>
<router-outlet></router-outlet>
