<mat-card class="habit">
   <mat-checkbox 
      class="habit-checkbox" 
      [checked]="habit.state != 'PENDING'"
      (click)="habit.state=='PENDING'?complete.emit({ ev: $event, index: habit.index }):removeComplete.emit({ ev: $event, index: habit.index })"
   ></mat-checkbox>
   
   <div class="habit-details">
      <a routerLink="/habits/{{ habit.index }}">
         <mat-card-title>{{ habit.text }}</mat-card-title>
         <mat-card-subtitle>
            Current streak {{ habit.streak }}   {{ habit.daysLeft }} days left
         </mat-card-subtitle> 
      </a>
   </div>

   <div>
      <img
      src="../../../assets/habitStreak.png"
      alt="You're on a Streak!"
      class="streak-img"
      *ngIf="habit.streak >= 2"
      />
   </div>
   
</mat-card>