.habit {
   padding: 0.1rem 1rem;
   margin: 0.5rem;
   width: 100%;
   align-items: center;
   display: grid;
   grid-template-columns: 5% auto 30%;
   /* transition: transform 0.1s; */
}

/* Insert CSS for checkbox here*/

.habit-content {
   display: grid;
   padding-left: 10px;
   grid-template-columns: auto auto;
   justify-content: left;
   /* align-content: center; */
}

.streakImg {
   width: 25%;
   justify-self: left;
   /* padding-left: 10px; */
   margin-left: 10px;
}

.habit .time-left{
   justify-self: center;
   padding: 0.4rem 1rem;
   font-size: 1.2rem;
   color: white;
   border-radius: 2rem;
   margin-right: 2rem;
}

.habit-check {
   margin: 10px;
}

.habit-content p {
   font-size: 1.2rem;
   margin: 0;
}
.habit-content span {
   font-size: 0.8rem;
}