<app-loading *ngIf="(this.authService.isLoading$ | async) || (this.habitService.isLoading$ | async) ">
</app-loading>

<div *ngIf="!(this.authService.isLoading$ | async) && !(this.habitService.isLoading$ | async) ">
   <div class="block">
      <div class="profile">
         <div class="profile-photo"
            [ngStyle]="{'background-image':'url('+this.authService.userDetails.profileImageUrl+')'}">

         </div>
         <div class="user-details">
            <h2>{{ this.authService.userDetails.username }}</h2>
            <h4>Joined {{this.dateJoinedYear}} </h4>
         </div>

      </div>
      <div class="profile-actions">
         <button class="btn edit-profile" routerLink="/edit">Edit Profile</button>
         <button class="btn btn-red" (click)="this.authService.logOut()">Logout</button>
      </div>
   </div>
   <div class="block">
      <h1>Stats</h1>
      <div class="stats">
         <p>Best Streak: {{this.bestStreak}}</p>
         <p>Habit Score: {{this.habitScore|number:'1.0-0'}}</p>
         <p>Total Habits: {{ this.habitService.userHabits.length }} </p>
      </div>
      <div class="graphs">
         <div class="graph">
            <h2>BestStreak</h2>
            <app-graph id="sgraph" [width]="600" [height]="400" [data]="sdata" ></app-graph>
         </div>
         <div class="graph">
            <h2>Punctuality</h2>
            <app-graph id="pgraph" [width]="600" [height]="400" [data]="pdata" ></app-graph>
         </div>
      </div>
   </div>
</div>