.block {

   padding: 1.5rem;
   border-radius: 0.5rem;
   box-shadow: 0 0 2px rgba(17, 17, 17, 0.24);
   margin: 2rem;
}

.profile{
   display: flex;
   margin-bottom: 1rem;
}
.profile img {
   width: 10rem;
}
.profile .user-details {
   margin-left: 1.5rem;
}

.profile-actions {
   display: flex;
}
.profile-actions .edit-profile {
   margin-right: 1rem;
}

.btn-red {
   background-color: red;
}
