<mat-spinner class="loading-spinner" *ngIf="this.isLoading" ></mat-spinner>

<div *ngIf="!this.isLoading"  class="container">
    <h1>Create an Account</h1>
    <form (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput ngModel required name="username" #username="ngModel" />
                <mat-error *ngIf="!usernameWarning">Invalid Username</mat-error>
                <mat-error *ngIf="usernameWarning">{{ warningMessage }}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput ngModel required email name="email" #email="ngModel" />
                <mat-error *ngIf="!emailWarning">Invalid Email</mat-error>
                <mat-error *ngIf="emailWarning">{{ warningMessage }}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput ngModel required name="password" #password="ngModel" />
            </mat-form-field>
        </div>
        <div class="submit">
            <button mat-raised-button color="primary" class="btn" type="submit" [disabled]="!signupForm.valid">Signup</button>
            <a mat-button color="accent" routerLink="/login" class="btn">Already Have an Account?</a>
        </div>
    </form>
</div>