<mat-spinner class="loading-spinner" *ngIf="this.isLoading" ></mat-spinner>

<div *ngIf="!this.isLoading"  class="container">
    <h1>Create an Account</h1>
    <div class="form">
        <div class="input">
            <div class="input-div">
                <label class="input-label" for="">Username</label>
                <span class="input-warning" *ngIf="this.usernameWarning">{{ this.warningMessage }}</span>
            </div>
            <input [(ngModel)]="username" type="text" value="">
        </div>
        <div class="input">
            <div class="input-div">
                <label class="input-label" for="">Email</label>
                <span class="input-warning" *ngIf="this.emailWarning">{{ this.warningMessage }}</span>
            </div>
            <input [(ngModel)]="email" type="email" value="">
        </div>
        <div class="input">
            <div class="input-div">
                <label class="input-label" for="">Password</label>
                <span class="input-warning" *ngIf="this.passwordWarning">{{ this.warningMessage }}</span>
            </div>
            <input [(ngModel)]="password" type="password" value="">
        </div>
        <div class="submit">
            <button (click)="onSubmit()" class="btn">Signup</button>
            <a routerLink="/login" class="btn">Already Have an Account?</a>
        </div>
    </div>
</div>