.profile{
   display: flex;
   margin-bottom: 1rem;
}


.profile .user-details {
   margin-left: 1.5rem;
}

.profile-actions {
   display: flex;
}
.profile-actions .edit-profile {
   margin-right: 1rem;
}

.btn-red {
   background-color: red;
}
