<mat-spinner  class="loading-spinner" *ngIf="!habit"></mat-spinner>

<div class="view-habit" *ngIf="habit">
    <div class="view-habit-child manage-habit">
        <h1>Manage Habit</h1>
        <div class="habit-details">
            <div class="habit-detail">
                <mat-form-field appearance="outline">
                    <mat-label>Habit</mat-label>
                    <input matInput type="text" [(ngModel)]="text">
                </mat-form-field>
            </div>
            <div class="habit-detail">
                <mat-form-field id="end-date" appearance="outline">
                    <mat-label>End Date</mat-label>
                    <input matInput type="date" [(ngModel)]="endDate">
                </mat-form-field>
            </div>
            <div class="habit-detail color-picker">
                <label for="">Color</label>
                <app-color-picker
                [colors]="colors"
                (colorChange)="colorChange($event)"
                [default]="selectedColor">
                </app-color-picker>
            </div>
            <div class="input tags">
                <!-- <h2>Tags</h2> -->
                <mat-form-field class="tag-list">
                    <mat-chip-list #TagList aria-label="Tag selection">
                    <mat-chip *ngFor="let tag of tags; index as i" [selectable]="selectable"
                                [removable]="removable" (removed)="remTag(tag)">
                        {{tag}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Add Tag"
                            [matChipInputFor]="TagList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="addTag($event)">
                    </mat-chip-list>
                </mat-form-field>
                <!-- <mat-form-field appearance="standard">
                    <mat-chip-list #tagList>
                        <mat-chip 
                            *ngFor="let tag of tags; index as i"
                            [selectable]="selectable"
                            [removable]="removable"
                            (removed)="remove(tag)"
                        >
                        {{ tag }}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="">
                    </mat-chip-list>
                </mat-form-field> -->
            </div>
            <div class="submit">
                <button mat-raised-button color="accent" (click)="updateHabit()" class="btn">Update</button>
                <button mat-raised-button color="warn" (click)="deleteHabit()" class="btn btn-red">Remove Habit</button>
            </div>
        </div>
    </div>

    <div class="view-habit-child habit-streak-calendar"> 
        <div *ngFor="let streakMonth of histStreak; index as i" [ngClass]="'calendar-' + i">
            <app-streak-calendar [monthlyStreak]="streakMonth" [completeColor]=habit.color></app-streak-calendar>
        </div>
    </div>
    <div class="view-habit-child habit-statistics">
        <div class="block" *ngIf="habit">
            <h1>Stats</h1>
            <div class="stat-graphs">
               <div class="stat-graph">
                  <h2>Streak</h2>
                  <app-graph id="sgraph" [width]="600" [height]="400" [data]="sdata" ></app-graph>
               </div>
               <div class="stat-graph">
                  <h2>Punctuality</h2>
                  <app-graph id="pgraph" [width]="600" [height]="400" [data]="pdata" ></app-graph>
               </div>
            </div>
         </div>
         
    </div>
</div>

<!-- 
<div class="habit-large" *ngIf="habit" >
    <h1 [ngStyle]="{'border-top':'0.2rem solid '+selectedColor,'padding-top':'0.5rem'}">Manage Habit</h1>
        <div class="habit-details">
            <div class="input">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" [(ngModel)]="text">
                </mat-form-field>
            </div>
            <div class="input">
                <mat-form-field appearance="outline">
                    <mat-label>End Date</mat-label>
                    <input matInput type="date" [(ngModel)]="endDate">
                </mat-form-field>
            </div>
            <div class="input">
                <label for="">Color</label>
                <app-color-picker
                [colors]="colors"
                (colorChange)="colorChange($event)"
                [default]="selectedColor">
                </app-color-picker>
            </div>
        <div class="input tags">
            <mat-form-field appearance="standard">
                <mat-chip-list #tagList>
                    <mat-chip 
                        *ngFor="let tag of tags; index as i"
                        [selectable]="selectable"
                        [removable]="removable"
                        (removed)="remove(tag)"
                    >
                    {{ tag }}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="">
                </mat-chip-list>
            </mat-form-field>
        </div>
            
    </div>
         <div class="input tags">
            <h2>Tags</h2>
            <div class="tags-content">
                <app-tag *ngFor="let tag of tags; index as i" [text]="tag" (remove)="remTag($event)" [pos]="i"></app-tag>
            </div>
            <div class="add-tags">
                <input [(ngModel)]="addTagText" type="text" name="" id=""> <button (click)="addTag()" class="btn add-tag">Add Tag</button>
            </div>
        </div>
        <div class="submit">
            <button (click)="updateHabit()" class="btn">Update</button>
            <button  (click)="deleteHabit(habit.index)" class="btn btn-red">Remove Habit</button>
        </div>
    </div>
 </div>

<div class="block" *ngIf="habit">
   <h1>Stats</h1>
   <div class="graphs">
      <div class="graph">
         <h2>Streak</h2>
         <app-graph id="sgraph" [width]="600" [height]="400" [data]="sdata" ></app-graph>
      </div>
      <div class="graph">
         <h2>Punctuality</h2>
         <app-graph id="pgraph" [width]="600" [height]="400" [data]="pdata" ></app-graph>
      </div>
   </div>
</div>
 -->
