<mat-spinner  class="loading-spinner" *ngIf="!habit"></mat-spinner>

<div class="view-habit" *ngIf="habit">
    <div class="view-habit-child manage-habit">
        <h1>Manage Habit</h1>
        <div class="habit-details">
            <div class="habit-detail">
                <mat-form-field appearance="outline">
                    <mat-label>Habit</mat-label>
                    <input matInput type="text" [(ngModel)]="text">
                </mat-form-field>
            </div>
            <div class="habit-detail">
                <mat-form-field id="end-date" appearance="outline">
                    <mat-label>End Date</mat-label>
                    <input matInput type="date" [(ngModel)]="endDate">
                </mat-form-field>
            </div>
            <div class="habit-detail color-picker">
                <label for="">Color</label>
                <app-color-picker
                [colors]="colors"
                (colorChange)="colorChange($event)"
                [default]="selectedColor">
                </app-color-picker>
            </div>
            <div class="input tags">
                <mat-form-field class="tag-list">
                    <mat-chip-list #TagList aria-label="Tag selection">
                    <mat-chip *ngFor="let tag of tags; index as i" [selectable]="selectable"
                                [removable]="removable" (removed)="remTag(tag)">
                        {{tag}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Add Tag"
                            [matChipInputFor]="TagList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="addTag($event)">
                    </mat-chip-list>
                </mat-form-field>
            </div>
            <div class="submit">
                <button mat-raised-button color="accent" (click)="updateHabit()" class="btn">Update</button>
                <button mat-raised-button color="warn" (click)="deleteHabit()" class="btn btn-red">Remove Habit</button>
            </div>
        </div>
    </div>

    <div class="view-habit-child">
        <h1 id="streak-calendar-heading">History</h1>
        <div class=" habit-streak-calendar">
            <div *ngFor="let streakMonth of histStreak; index as i" [ngClass]="'calendar-' + i">
                <app-streak-calendar [monthlyStreak]="streakMonth" [completeColor]=habit.color></app-streak-calendar>
            </div>
        </div>
    </div>

    <div class="view-habit-child habit-statistics">
        <div class="block" *ngIf="habit">
            <h1>Stats</h1>
            <div class="stat-graphs">
               <div class="stat-graph">
                  <h2>Streak</h2>
                  <app-graph [color]="habit.color" type="habitStreakGraph" id="sgraph" [width]="600" [height]="400" [data]="sdata" ></app-graph>
               </div>
               <div class="stat-graph">
                  <h2>Punctuality</h2>
                  <app-graph [color]="habit.color" type="habitPunctualityGraph" id="pgraph" [width]="600" [height]="400" [data]="pdata" ></app-graph>
               </div>
            </div>
         </div>
         
    </div>
</div>