.view-habit {
   margin: auto;
   display: grid;
   grid-template-rows: auto auto;
   grid-template-columns: 45% auto;
   max-width: 100%;
}

.view-habit-child {
   margin: 5% 8% 8% 8%;
   padding: 20px;
   box-shadow: 0 0 10px 5px #cccccc;
   border-radius: 5px;
   max-width: 100rem;
}

.manage-habit {
   /* background-color: aqua; */
   grid-column: 1 / 2;
   grid-row: 1 / 2;
}

.manage-habit h1{
   text-align: center;
}

.habit-detail {
   width: 65%;
   margin: auto;
   display: flex;
}

.habit-detail mat-form-field{
   width: 100%;
   text-align: center;
}

.habit-detail.color-picker {
   flex-direction: column;
   align-items: center;
}

.habit-detail.color-picker > * {
   width: max-content;
}

#end-date {
   margin-left: 25%;
   width: 50%;
}

#habit-date {
   width: 50%;
   margin: auto;
}


.habit-streak-calendar {
   grid-column: 2 / 3;
   grid-row: 1 / 2;
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: 50% 50%;
   align-items: center;
   justify-items: center;
}

.calendar-0 {
   /* background-color: chartreuse; */
   grid-row: 1 / 2 ;
   grid-column: 1 / 3;
}

.calendar-1 {
   grid-row: 2 / 3;
   grid-column: 1 / 2;
}

.calendar-2 {
   grid-row: 2 / 3;
   grid-column: 2 / 3;
}

.habit-statistics {
   margin: auto;
   /* background-color: cadetblue; */
   grid-column: 1 / 3;
   grid-row: 2 / 3;
}

.stat-graphs {
   display: grid;
   grid-template-columns: auto auto;
}

 /*
.habit-large {
   margin: auto;
   width: 25%;
}

.habit-large > h1 {
   text-align: center;
   margin-bottom: 2rem;
}

.habit-details {
   
   margin: auto;
}

.btn-red {
   background-color: red;
}

.habit-history{
   margin-top: 2rem;
}

.streak-history {
   margin-left: 20%;
   margin-right: 20%;
   display: grid;
   grid-template-columns: auto auto auto;
   justify-items: center;
}

.block h1 {
   margin-top: 0;
}

.block {
   margin-left: auto;
   margin-right: auto;
   width: 1200px;
}

.graphs {
   display: flex;
}


.tags h2 {
   margin-top: 0;
}

.add-tag {
   background-color: white;
   color: orange;
   border: 2px solid orange;
   height: 2rem;
   font-size: 0.8rem;
   line-height: 0.1rem;
   margin-right: 0.5rem;
   transition: all 0.3s;
}
.add-tag:hover{
   background-color: orange;
   color: white;
}

.add-tags {
   display: flex;
   vertical-align: center;
}
.tags-content{
   margin-bottom: 0.4rem;
}
 */
