<app-loading *ngIf="this.isLoading"></app-loading>

<div *ngIf="!this.isLoading"  class="container">
   <h1>Log in to Habit Tracker</h1>
   <div class="form">
      <div class="input">
         <div class="input-div">
            <label class="input-label" for="">Email</label>
            <span class="input-warning" *ngIf="this.emailWarning">{{ this.warningMessage}}</span>
         </div>
         <input [(ngModel)]="email" type="email" value="" /> 
      </div>
      <div class="input">
         <div class="input-div">
            <label class="input-label" for="">Password</label>
            <span class="input-warning" *ngIf="this.passwordWarning">{{ this.warningMessage}}</span>
         </div>
         <input [(ngModel)]="password" type="password" value="" />
      </div>
      <div class="submit">
         <button (click)="onSubmit()" class="btn">Login</button>
         <a routerLink="/signup" class="btn">New User?</a>
      </div>
   </div>
</div>
