#edit-profile-main {
   display: grid;
   grid-template-columns: 50% 50%;
   /* justify-items: center; */
}

.form {
   display: block;
   margin:auto
}

.block h2 {
   text-align: center
}

.btn {
   margin:auto
}

#image-upload {
   margin:auto
}