<div class="add-habit block" *ngIf="!loading">
   <h1>Add Habit</h1>
   <div class="input">
      <label for="text">Text</label>
      <input [(ngModel)]="habitText" type="text" #text />
   </div>
   <div class="input">
      <label for="text">Ending Date</label>
      <input [(ngModel)]="endDate" type="date" #text />
   </div>
   <div class="input">
      <label for="text">Color</label>
      <app-color-picker [colors]="colors" (colorChange)="colorChange($event)">
      </app-color-picker>
   </div>
   <div class="input tags">
       <h2>Tags</h2>
       <div class="tags-content">
           <app-tag *ngFor="let tag of tags; index as i" [text]="tag" (remove)="remTag($event)" [pos]="i"></app-tag>
       </div>
       <div class="add-tags">
           <input [(ngModel)]="addTagText" type="text" name="" id=""> <button (click)="addTag()" class="btn add-tag">Add Tag</button>
       </div>
   </div>
   <button
      [ngStyle]="{ 'background-color': selectedColor }"
      (click)="addHabit()"
      class="btn">
      Add
   </button>
</div>

<app-loading *ngIf="loading"></app-loading>
