.add-habit {
   /* margin-left: 1rem; */
   width: 35rem;
   height: 35rem;
   text-align: center;
   padding: 1rem 1.5rem;
}

.add-habit .habit-title {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.habit-title mat-form-field {
   width: 75%;
}

.habit-title .btn {
   margin-left: 1rem;;
}

#habit-date {
   /* display: flex; */
   /* align-items: center; */
   width: 30%;
   /* margin-left: 1rem; */
}

.tags h2 {
   margin-top: 0;
}

.add-tag {
   background-color: white;
   color: orange;
   border: 2px solid orange;
   height: 2rem;
   font-size: 0.8rem;
   line-height: 0.1rem;
   margin-right: 0.5rem;
   transition: all 0.3s;
}
.add-tag:hover{
   background-color: orange;
   color: white;
}

.add-tags {
   display: flex;
   vertical-align: center;
}
.tags-content{
   margin-bottom: 0.4rem;
}
