<div class="add-habit block" *ngIf="!loading">
   <h1>Add Habit</h1>
   <div class="input">
      <label for="text">Text</label>
      <input [(ngModel)]="habitText" type="text" #text />
   </div>
   <div class="input">
      <label for="text">Ending Date</label>
      <input [(ngModel)]="endDate" type="date" #text />
   </div>
   <div class="input">
      <label for="text">Color</label>
      <app-color-picker [colors]="colors" (colorChange)="colorChange($event)">
      </app-color-picker>
   </div>
   <button
      [ngStyle]="{ 'background-color': selectedColor }"
      (click)="addHabit()"
      class="btn"
   >
      Add
   </button>
</div>

<div *ngIf="loading">
   <h1>Loading</h1>
</div>
