.add-habit {
   /* margin-left: 1rem; */
   width: 30rem;
   height: 30rem;
   text-align: center;
   padding: 1rem 1.5rem;
   position: relative;
}

.add-habit .habit-title {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.tag-list {
   width: 100%;
}

.tag-input {
   min-width: 100px;
   max-width: 100%;
}

.habit-title mat-form-field {
   width: 70%;
}

.habit-title .btn {
   margin-left: 1rem;;
}

#habit-date {
   /* display: flex; */
   /* align-items: center; */
   width: 30%;
   /* margin-left: 1rem; */
}

.habit-color {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.habit-color label {
   font-size: 1.1rem;
   height: max-content;
   margin-right: 1.5rem
}

.tags h2 {
   margin-top: 0;
   text-align: left
}

#add-habit-btn {
   position: absolute;
   bottom: 0;
   right: 2%;
}


.add-tag {
   background-color: white;
   color: orange;
   border: 2px solid orange;
   height: 2rem;
   font-size: 0.8rem;
   line-height: 0.1rem;
   margin-right: 0.5rem;
   transition: all 0.3s;
}
.add-tag:hover{
   background-color: orange;
   color: white;
}

.add-tags {
   display: flex;
   vertical-align: center;
}
.tags-content{
   margin-bottom: 0.4rem;
}
